name: Python CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v5  # Fetch the repository code

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pylint

    - name: Run Pylint
      run: |
        pylint $(git ls-files '*.py')

    - name: Run Tests and Generate Report
      run: |
        pip install pytest pytest-cov
        pytest --cov=cidderbot --cov-branch --cov-report=xml
    
    - name: Upload Coverage Reports to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}